# ---- Python ---------------------------------------------------
*.py[cod]
__pycache__/

# ---- Environnement virtuel ------------------------------------
venv/
.env               # jamais dans l’image !

# ---- Git / CI -------------------------------------------------
.git/
.github/
.coverage
htmlcov/
*.log
**/migrations/*    # pas utiles dans l’image

# ---- IDE / OS -------------------------------------------------
.DS_Store
.idea/
.vscode/
