**/__pycache__
*.pyc
venv
.env
.env.dev
.env.prod
staticfiles/
.coverage
coverage.xml
htmlcov/
schema-annotated.png
erd.dot
erd.png
schéma_tables.png
docs/build/
docs/_build/
docs/**/.doctrees/
docs/**/_autosummary/
.DS_Store