asgiref==3.8.1
autopep8==2.0.4
black==25.1.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
coverage==7.4.4
Django==4.2.21
django-extensions==4.1
entrypoints==0.3
eralchemy==1.5.0
flake8==6.1.0
graphviz==0.21
gunicorn==22.0.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pycodestyle==2.11.1
pydotplus==2.0.2
pyflakes==3.1.0
pyparsing==3.2.3
pytest==8.4.1
pytest-cov==4.1.0
pytest-django==4.11.1
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.4
sentry-sdk==2.32.0
sentry_cli==2.47.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.4.0
whitenoise==6.9.0
